.background {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
}
.bigText {
    color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -200px;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
}