* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.title {
    margin: auto;
    width: 50%;
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.quote {
    margin: auto;
    width: 50%;
    position: relative;
    margin-top: 30px;
    text-align: center;
    white-space: pre-line;
}